@import "normalize";
@import "rouge-github";
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

// Custom sidebar formatting for repositioned on mobiles
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px)
{

#content-desktop {display: none;}
#content-mobile {display: block;}

}

html {
  --bg: url(../images/bgWaves__03.jpg);
  --bg-main-content: rgba(221, 189, 83, 0.2);
  --bg-pre:  rgba(249, 255, 165, 0.678);
  --colour-text: rgb(54, 54, 112);
  --size-text: 15px;
  --line-height: 1.5;
  --bg-sidebar: rgba(233, 150, 122, 0.4);
  --size-code: 13px;
  --colour-code: #222;
  --colour-code-background: rgba(179, 179, 179, 0.3);
  --size-h1: 45px;
  --colour-h1: #481d6b;
  --size-h2: 18px;
  --colour-h2: #281d6b;
  --size-h3: 13px;
  --colour-h3: #481d6b;
  --size-h4: 15px;
  --colour-h4: #1d154d;
  --size-h5: 14px;
  --size-h6: 13px;
}

html[data-theme='read'] {
  --bg: rgb(22, 3, 44);
  --bg-main-content: rgba(0, 0, 0, 0);
  --bg-pre:  rgb(251, 255, 196);
  --colour-text: rgb(248, 150, 252);
  --size-text: 20px;
  --line-height: 4;
  --bg-sidebar: rgb(226, 180, 164);
  --size-code: 18px;
  --colour-code: rgb(230, 164, 164);
  --colour-code-background: rgba(41, 41, 41, 0.3);
  --size-h1: 45px;
  --colour-h1: #977da8;
  --size-h2: 23px;
  --colour-h2: #837aaf;
  --size-h3: 18px;
  --colour-h3: #a68eb3;
  --size-h4: 20px;
  --colour-h4: #938da5;
  --size-h5: 19px;
  --size-h6: 18px;
}

/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-text);
  font-weight: 400;
  line-height: var(line-height);
  // color: #666;
  color: var(--colour-text);
  // background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  background: var(--bg);
  background-size: cover;
  min-width: 3126;
  min-height: 5016;
  background-repeat: no-repeat;
  background-position: top left;
  // opacity: 0.9;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: alias;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: rgb(0, 209, 0);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgb(0, 140, 0);
  border: 1px;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label{
  background: rgb(0, 70, 0);
}

input:checked + label:after{
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


p {
  margin-top: 0;
}

a {
  color: #2879d0;
}
a:hover {
  color: #400286;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  // background: #d17dd1 url(https://raw.githubusercontent.com/jAdelaide/-JaBlog-/shove/assets/images/header-bg.jpg) 0 0 repeat-x;
  background: #b681b6;
  border-bottom: solid 4px #a11f90;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}

.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#content-wrapper {
  padding-top: 30px;
  border-top: solid 1px #fff;
}

#main-content {
  float: left;
  padding: 5px;
  min-width: 300px;
  max-width: 700px;
  // background: rgba(231, 185, 33, 0.15);
  background: var(--bg-main-content);
  border-radius: 10px 100px 100px 10px;
}

#main-content img {
  max-width: 100%;
}

aside#sidebar {
  float: right;
  width: 500;
  // min-height: 504px;
  min-height: 300px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 1.3;
  background: var(--bg-sidebar);
  border-radius: 30% 100% / 300%;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  display: block;
  width: 138px;
  padding-left: 64px;
  margin-bottom: 20px;
  font-size: 21px;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: var(--size-code);
  color: var(--colour-code);
}

code {
  padding: 0 3px;
  background-color: var(--colour-code-background);
  border: solid 1px rgba(129, 129, 129, 0.2);
}

pre {
  padding: 20px;
  overflow: auto;
  text-shadow: none;
  background: var(--bg-pre);
  border: solid 2px #6bfff84d;
  border-radius: 25px;
}
pre code {
  padding: 0;
  color: #2879d0;
  background-color: rgba(249, 255, 165, 0);
  border: none;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: solid 1px #ddd;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}

form {
  padding: 20px;
  // background: rgba(233, 150, 122, 0.4);
  // border-radius: 10px 100px / 120px;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-h1);
  font-weight: normal;
  // color: #481d6b;
  color: var(--colour-h1);
  text-indent: 6px;
  letter-spacing: -1px;
}

#main-content h1:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "/";
}

#main-content h2 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-h2);
  font-weight: bold;
  // color: #281d6b;
  color: var(colour-h2);
  text-indent: 4px;
}
#main-content h2:before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  content: "//";
  color: #9ddcff;
}

#main-content h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  // font-size: 18px;
  font-size: var(--size-h3);
  font-weight: bold;
  // color: #481d6b;
  color: var(--colour-h3);
  text-indent: 3px;
}

#main-content h3:before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "///";
  color: #9ddcff;
}

#main-content h4 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-h4);
  font-weight: bold;
  // color: #1d154d;
  color: var(--colour-h4);
  text-indent: 3px;
}

h4:before {
  padding-right: 0.3em;
  margin-left: -2.8em;
  content: "////";
  color: #9ddcff;
}

#main-content h5 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-h5);
  // color: #1d154d;
  color: var(--colour-h4);
  text-indent: 3px;
}
h5:before {
  padding-right: 0.3em;
  margin-left: -3.2em;
  content: "/////";
  color: #9ddcff;
}

#main-content h6 {
  margin-bottom: 8px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: var(--size-h6);
  // color: #1e1d24;
  color: var(--colour-h4);
  text-indent: 3px;
}
h6:before {
  padding-right: 0.3em;
  margin-left: -3.7em;
  content: "//////";
  color: #9ddcff;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 15px;
  border-left: 10px solid #e9e9e9;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

footer {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 40px;
  font-size: 13px;
  color: rgba(255, 66, 224, 0.603);
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 5px;
    margin-left: 5px;
    content: none;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }
  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header a.button {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-color: #9ddcff;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  header a.button small {
    display: inline;
    font-size: 13px;
  }
  #main-content,
  aside#sidebar {
    float: none;
    width: 100% ! important;
  }
  aside#sidebar {
    min-height: 0;
    padding: 20px 0;
    margin-top: 20px;
    background-image: none;
    border-top: solid 1px #ddd;
  }
  aside#sidebar a.button {
    display: none;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    padding-right: 0;
    margin-left: 0;
    content: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
