<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}
  </head>
        <!-- Toggles JaBlog mobile in header -->
  <div id="content-desktop">
  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1 style="color:rgb(170, 32, 170)">{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2 style="color:rgb(0, 0, 139)">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
      </div>

                          <!--        Toggle view mode              -->
      <div class="container" style="position: absolute; top: 200; right: 2%;">
        <div class="toggle-container">
          <input type="checkbox" id="switch" name="theme" /><label for="switch"> Easy read mode</label>
        </div>
      </div>

      <script>

        var checkbox = document.querySelector('input[name=theme]');

        checkbox.addEventListener('change', function() {
          if(this.checked) {
            trans()
            document.documentElement.setAttribute('data-theme', 'read')
          } else {
            trans()
            document.documentElement.setAttribute('data-theme', 'graphic')
          }
        })

        let trans = () => {
          document.documentElement.classList.add('transition');
          window.setTimeout(() => {
            document.documentElement.classList.remove('transition')
          }, 1000)
        }

      </script>
    </header>
  </div>

  <div id="content-mobile">
  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
           <h1 style="color:rgb(170, 32, 170)">{{ site.title | default: site.github.repository_name }} mobile</h1>
        </a>
        <h2 style="color:rgb(0, 0, 139)">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
      </div>

                          <!--        Toggle view mode              -->
      <div class="container" style="position: absolute; top: 200; right: 2%;">
        <div class="toggle-container">
          <input type="checkbox" id="switch" name="theme" /><label for="switch"> Easy read mode</label>
        </div>
      </div>

      <script>

        var checkbox = document.querySelector('input[name=theme]');

        checkbox.addEventListener('change', function() {
          if(this.checked) {
            trans()
            document.documentElement.setAttribute('data-theme', 'read')
          } else {
            trans()
            document.documentElement.setAttribute('data-theme', 'graphic')
          }
        })

        let trans = () => {
          document.documentElement.classList.add('transition');
          window.setTimeout(() => {
            document.documentElement.classList.remove('transition')
          }, 1000)
        }

      </script>
    </header>
  </div>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
	  <h1>{{ page.title }}</h1>
	  <h3>{{ page.date | date: "%-d %B %Y" }}</h3>
          {{ content }}
        </section>

        <aside id="sidebar">
    <form>
      <a href="https://www.youracclaim.com/badges/c6a865c3-05f1-47a5-8c1a-4febc0b0c5e3/linked_in">
          <img src="https://raw.githubusercontent.com/jAdelaide/-JaBlog-/shove/assets/images/CCPBadge.png" width="130" title="View my AWS Certified Cloud Practitioner badge">
      </a>
    </form>
    
    <form>
      <a href="https://www.youracclaim.com/badges/80f36333-a475-4a1e-8870-2330169cbc37/linked_in">
          <img src="https://raw.githubusercontent.com/jAdelaide/-JaBlog-/shove/assets/images/reStartGraduate.png" width="130" title="View my AWS re/Start Graduate badge">
      </a>
    </form>
    
    <form>
      <a href="https://github.com/jAdelaide">
          <!-- <img src="/assets/images/adventure-cat.png" width="130"> -->
          <img src="https://raw.githubusercontent.com/jAdelaide/-JaBlog-/main/assets/images/adventure-cat.png" width="130" title="Go to my GitHub account!!">
      </a>
    </form>

    <form>
      <a href="https://www.linkedin.com/in/jordan-adelaide-51a070152">
          <!-- <img src="/assets/images/linkedin-businessman-meeting-online-job-fair-1445953-pxhere.com_.jpg" height="100"> -->
          <img src="https://raw.githubusercontent.com/jAdelaide/-JaBlog-/shove/assets/images/linkedin-businessman-meeting-online-job-fair-1445953-pxhere.com_.png" width="180" title="Visit my LinkedIn profile!!">
      </a>
    </form>

                  <!-- # Say the blog is hosted by me (GH username) under buttons
          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %} -->

        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
